black==24.10.0
click==8.1.7
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
Pygments==2.18.0
rich==13.9.2
textual==0.83.0
tomli==2.0.2
typing_extensions==4.12.2
uc-micro-py==1.0.3
